parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method RestAPI\\\\Uploader\\\\SimpleUploader\\:\\:setUploadParams\\(\\)\\.$#"
			count: 1
			path: src/RestAPI/RestServiceClient.php

		-
			message: "#^Unsafe access to private property RestAPI\\\\Storage\\\\SessionStorage\\:\\:\\$storageKey through static\\:\\:\\.$#"
			count: 7
			path: src/RestAPI/Storage/SessionStorage.php

