parameters:
	ignoreErrors:
		-
			message: "#^Static property RestAPI\\\\RestPayServiceClient\\:\\:\\$clientIp is never read, only written\\.$#"
			count: 1
			path: src/RestAPI/RestPayServiceClient.php

		-
			message: "#^Static property RestAPI\\\\RestPayServiceClient\\:\\:\\$secretKey is never read, only written\\.$#"
			count: 1
			path: src/RestAPI/RestPayServiceClient.php

		-
			message: "#^Call to an undefined method RestAPI\\\\Uploader\\\\SimpleUploader\\:\\:setUploadParams\\(\\)\\.$#"
			count: 1
			path: src/RestAPI/RestServiceClient.php

		-
			message: "#^Unsafe access to private property RestAPI\\\\Storage\\\\SessionStorage\\:\\:\\$storageKey through static\\:\\:\\.$#"
			count: 7
			path: src/RestAPI/Storage/SessionStorage.php

