<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" backupGlobals="false"
         backupStaticAttributes="false" cacheResult="false"
         bootstrap="./src/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>./src</file>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="RESTAPI_ENV" value="testing"/>
        <env name="RESTAPI_SYS_ID" value="12"/>
        <env name="RESTAPI_SYS_KEY" value="TfCfzxrXG34HTTBO"/>
        <env name="RESTAPI_SECRET_KEY" value="dsfdsf"/>
        <env name="RESTAPI_REGION" value="testing"/>
        <env name="RESTAPI_SYS_MASTER_KEY" value=""/>
        <env name="RESTAPI_API_SERVER" value=""/>
    </php>
</phpunit>
